<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                &copy; {{ .Site.Params.copyrightYear }} <span id="copyright"></span> {{ .Site.Params.copyright | markdownify }}
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                CDN Powered by <a target="_blank" href="https://codecanyon.net/item/imgproxify-image-cdn-and-image-proxy-generator/28833168" title="Image CDN and Image Proxy Generator">ImgProxify</a>.
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
