<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	{{ with .Site.Params.icon }}
	<link rel="icon" href="{{ . | urlize | relURL }}">
	{{ end }}

	{{ if .Params.Tags }}
		<!-- single page -->
		<title>{{ .Title }} | {{ .Site.Title }}</title>
	{{ else }}
		<!-- list page -->
		{{ if .Title }}
			{{ if and (.IsNode) (.Paginator) }}
				{{ if .IsHome }}
					<!-- home page -->
					<title>{{ .Title }} {{ if gt .Paginator.PageNumber "1" }}Page {{ .Paginator.PageNumber }}{{ end }}</title>
				{{ else }}
					<!-- regular pages -->
					<title>{{ .Title }} {{ if gt .Paginator.PageNumber "1" }}Page {{ .Paginator.PageNumber }}{{ end }} | {{ .Site.Title }}</title>
				{{ end }}
			{{ else }}
				<!-- static page -->
				<title>{{ .Title }} | {{ .Site.Title }}</title>
			{{ end }}
		{{ else }}
			<!-- unknown page -->
			<title>{{ .Site.Title }}</title>
		{{ end }}
	{{ end }}

	{{ with .Site.Params.meta.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}

	<meta name="google-site-verification" content="W_PIkJ8jgxG5V4mVP93Pte2FzfWbCHpF62siziMG9Ms" />
	<meta name="yandex-verification" content="d2b5b95b0ac29efe" />
	<meta name="msvalidate.01" content="E07263D1C1A592703787713EF54A2DA2" />
	<meta name="p:domain_verify" content="b2b98462a60ca2b7bbaf4930a0dcf7cc"/>

	<style>
		.lazyload {
		  opacity: 0;
		}
		.lazyloading {
		  opacity: 1;
		  transition: opacity 300ms;
		  background: #fff url('/images/loader.gif');
		}
	</style>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
	<link href="{{ "/css/medium.css" | urlize | relURL }}" rel="stylesheet">
	<link href="{{ "/css/additional.css" | urlize | relURL }}" rel="stylesheet">

	<!-- Custom css -->
	{{ range .Site.Params.customCSS -}}
	{{ $style := resources.Get . }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen">
	{{- end }}
</head>
